<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vue Hands-on: PropertyAndWatcher_watch</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
  <h1>Vue Hands-on: PropertyAndWatcher_watch!</h1>
  <!-- テンプレート -->
  <div id="app">
    <label>姓：</label><input v-model="inputTextFamilyName" placeholder="your FamilyName">
    <label>名前：</label><input v-model="inputTextFirstName" placeholder="your firstName">
    <h2>↓↓&lt;p&gt;に出す文字列↓↓<br>
      <hr>
      <p>{{inputTextCombinedName}}</p>
    </h2>
  </div>

  <!--アプリケーションコード -->
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        inputTextFirstName: ""
        , inputTextFamilyName: ""
        , inputTextCombinedName: ""
      }
      // 説明なさすぎで写経。watchじゃなくていいことあんの？って感じだけど、、
      // ＿デストラクタでなんか処理かませたいときにいいのかな？説
      ,created () {
          this._firstNameWatcher = this.$watch('inputTextFirstName', val => {
            this.inputTextCombinedName = `${this.inputTextFamilyName} ${val}`
          })
          this._familyNameWatcher = this.$watch('inputTextFamilyName', val => {
            this.inputTextCombinedName = `${val} ${this.inputTextFirstName}`
          })
        },
        destroy () {
          // ウォッチャの解放
          this._firstNameWatcher()
          this._lastNameWatcher()
        }
    })
  </script>
</body>

</html>