<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
    </head>
    <body>
        <div id="showCondition">
            <input type="checkbox" v-model="checked">
            <p id="msg" v-if="checked">{{ message }}</p>
        </div>
        <div id="vshowType">
            <input type="checkbox" v-model="checked2">
            <p id="msg" v-show="checked2">{{ message }}</p>
        </div>
    </body> 
    <script src="showCondition.js"></script>
</html>